/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  height: 100%;
  width: 100;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  overflow: auto;
}

#left {
  color: white;
  width: 33.33%;
  background-color: #666;
  padding: 2em;
  float: left;
}

#middle {
  color: white;
  width: 33.33%;
  background-color: #888;
  padding: 2em;
  float: left;
}

#right {
  color: white;
  width: 33.33%;
  background-color: #666;
  padding: 2em;
  float: left;
}

#full {
  margin-top: 1em;
  background-color: #eee;
  width: 100%;
  padding: 1em;
}

#division {
  margin-top: 2em;
  background-color: #6ea3da;
  padding: 1em;
}

aside {
  padding: 1em;
  float: left;
  margin-left: 1em;
  background-color: #fff;
  height: 10em;
  width: 15em;
}

footer {
  margin-top: 1em;
  padding: 1em;
  background-color: #ccc;
  float: right;
  width: 100%;
}
